.wrap {
  display: inline-block;
  box-sizing: border-box;
  width: 25%;
  padding: 5px;
}

.wrap-category {
  display: inline-block;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.strCategoryThumb {
  width: 100%;
  max-width: 100%;
}

.img {
  width: 100%;
  margin: 0 auto;
}

.strCategory-h3 {
  color: white;
}

.strCategoryDescription {
  color: #d57d1f;
}

.link {
  margin: 7px;
}

.link-categories {
  text-decoration: none;
  color: rgb(244, 104, 104);
}

.link-categories:hover {
  border-radius: 3px;
  padding: 5px;
  background: #c52d2f;
  color: white;
}

.link-strCategoryThumb-img:hover {
  padding: 7px;
}
