.header-wrap {
  display: flex;
}

.header-wrap-search {
  margin: auto;
}

.home-input {
  padding: 10px 10px;
  border-radius: 7px;
  margin: 3px;
}

.home-btn {
  padding: 10px 10px;
  border-radius: 7px;
  margin: 3px;
}
