.header {
  background: #23180d;
  margin-bottom: 10px;
}

.container {
  display: flex;
  align-items: center;
  margin: auto;
  justify-content: space-between;
  width: 1200px;
}

.navbar-nav {
  display: flex;
}

.navbar-nav,
li {
  list-style-type: none;
  margin: 10px;
}

.home {
  padding: 10px 10px;
  border-radius: 7px;
  color: white;
  background-color: #c52d2f;
  text-decoration: none;
}

.api {
  padding: 10px 10px;
  border-radius: 7px;
  color: white;
  text-decoration: none;
}

.search-form {
  padding: 10px 10px;
  border-radius: 7px;
}

/* style random */
.header-random {
  padding: 10px 10px;
  border-radius: 7px;
}

.header-random:hover {
  background-color: #c52d2f;
}

.header-random-link {
  color: white;
  text-decoration: none;
}
/* end random */
